.back-end-form-container>div>input,.back-end-form-container>div>textarea
{
	width: 100%;
}
.back-end-form-container
{
	padding: 2%;
	border:1px dashed silver;
}
/* 



FRONT-END 



*/
.front-end-container
{
	box-shadow: 1px 1px 10px 6px rgba(0,0,0,0.1);
}
.image-right-side
{
	flex-direction: row-reverse;
}
.product-image-background
{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
    justify-content: center;
    align-items: center;
}
.bg-light-gray
{
	background:#eceded;
}
.logo-image
{
	margin-top: 7% !important; 
	width: 50%;
}
.buttons-container
{
	display: flex;
}
.product-description-container>*
{
	margin: 3%;
}
.button-blue
{
	background-color: #3979be;
    color: white !important;
    padding: 0.75rem 2rem !important;
    border: solid 1px #3979be;
    text-align: center;
    border-radius: 45px !important;
    font-size: 18px !important;
}
.button-blue:hover
{
	background-color: #003772;
    border: solid 1px #003772;
}
.block-text-container
{
	margin-top: 3%;
	color:#000;
	font-size: 20px;
}
.block-header-container
{
	color: #003772;
	margin-top: 5% !important;
	margin-bottom: 5% !important;
}

@media (max-width: 991px)
{
	.button-blue
	{
		border-radius: 25px !important;
	}
}
@media (max-width: 767px)
{
	.buttons-container
	{
		display: flex;
		justify-content: center;
	}
	.product-description-container
	{
		display: inline-block;
		text-align: center;
	}
	.block-header-container
	{
		font-size: 18px;
		margin-bottom: 0px;
	}
	.block-text-container
	{
		font-size:16px;
	}
	.block-header-container,.block-text-container
	{
		text-align: left !important;
	}
	.btn.button-blue
	{
		font-size:15px !important;
	}
}
