/*
 *
 *
 *
 * BACK-END PART
 *
 *
 *
 */

.heading-title-preview
{
    background-color: rgba(230,49,53,0.85) !important;
    color: white !important;
    margin-top: 5% !important; 
    padding: 5px;
    border-radius: 5px;
}
.image-img-container
{
	position: relative;
}
.list-icon
{
	cursor: pointer;
	transition: 0.5s all;
}
.list-icon:hover
{
	color:rgba(0,0,0,0.3);
}
.list-go-up-button, .list-go-down-button,.image-img-id-showcase,.image-img-edit-heading
{
	position: absolute;
	cursor: pointer;
	background:rgba(0,0,0,0.5);
	padding: 4px;
	color:white;
	transition: 0.5s background;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.list-go-up-button:hover, .list-go-down-button:hover,.image-img-id-showcase:hover,.image-img-edit-heading:hover
{
	background-color: black;
}
.image-img-id-showcase
{
	cursor: initial;
	left:0;
	top:0;
	border-bottom-right-radius: 5px;
}
.list-go-up-button
{
	right:0;
	top:0;
	border-bottom-left-radius: 5px;
}
.list-go-down-button
{
	right:0;
	bottom:0;
	border-top-left-radius: 5px;
}
.image-img-edit-heading
{
	left:0;
	bottom:0;
	border-top-right-radius: 5px;
}
.image-object-container
{
	margin-top: 20px;
	margin-bottom: 20px;
	border:1px dashed silver;
	padding: 5px;
	background:rgb(225,225,225);
}
.custom-block-button
{
	justify-content: center;
	width: 100%;
}
.custom-block-button:nth-child(even)
{
	margin-top: 10px;
}
div select.common-select-input
{
	width: 100% !important;
}
/* For wrapping long words */
.long-word-wrap 
{

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/* Popup Styling */
.common-lib-popup.d-none
{
	display: none !important;
}
.common-lib-popup
{
	display: flex !important;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 100000;
	top:0px;
	bottom: 0px;
	right: 0px;
	left:0px;
	pointer-events: all;
	align-items: center;
    align-self: center;
    align-content: center;
}
.common-lib-popup-items-container
{
	max-height: calc(100vh - 100px);
    overflow: scroll;
	width: 50%;
	background-color: white;
	border-radius: 5px;
	padding:20px;
	margin: auto;
}
.common-lib-popup-btn
{
	margin-top: 10px;
	margin-right: 5px !important;
}
